<ng-container *ngIf="element && !element.hidden">
    <div class="form__element element"
        id="element-{{ element.name }}"
        [class.form__element--small]="hasStyle('small')"
        [class.form__element--aligned]="hasStyle('aligned')"
        (mouseover)="!disabled && showElementValidation(element)"
        (mouseout)="!disabled && hideElementValidation()">
        <div class="rel" [ngSwitch]="getFieldType()">
            <pk-input       *ngSwitchCase="'input'"     ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-input>

            <pk-checkbox    *ngSwitchCase="'checkbox'"  ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-checkbox>

            <pk-select      *ngSwitchCase="'select'"    ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-select>

            <pk-radio       *ngSwitchCase="'radio'"     ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-radio>

            <pk-textarea    *ngSwitchCase="'textarea'"  ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-textarea>

            <pk-datalist    *ngSwitchCase="'datalist'"  ngDefaultControl [config]="element" [disabled]="disabled" [form]="form"></pk-datalist>


            <pk-devider *ngSwitchCase="'devider'" class="element"></pk-devider>
            <pk-devider *ngSwitchCase="'hiddenDevider'" class="element devider--hidden"></pk-devider>

            <h1 *ngSwitchCase="'h1'" class="element--h1 devider devider--secondary element">{{ element.value }}</h1>
            <h2 *ngSwitchCase="'h2'" class="element--h2 devider element">{{ element.value }}</h2>
            <h3 *ngSwitchCase="'h3'" class="element--h3 element">{{ element.value }}</h3>
            <h4 *ngSwitchCase="'h4'" class="element--h4 element">{{ element.value }}</h4>

            <div *ngSwitchCase="'info'" class="element">
                <div class="element__label element--no-wrap">
                    {{ element.value }}
                </div>
            </div>
        </div>
        <ng-content></ng-content>
    </div>
</ng-container>
