<pk-overlay #overlay [ngClass]="{ 'overlay--fluid': isFluid }">
    <pk-overlay-header>{{ title }}</pk-overlay-header>
    <pk-overlay-content>

        <div *ngIf="!list?.length && emptyText" class="empty-wrapper">
            <div class="label">{{ emptyText }}</div>
            <pk-button *ngIf="redirect" icon="keyboard_arrow_right" element--secondary [value]="redirectText" class="element--spacing-top-large" (onClick)="redirectFn()"></pk-button>
        </div>


        <div *ngIf="list?.length > 5" class="overlay__option element">
            <input
                class="element__input"
                id="search-field"
                placeholder="Search"
                [ngModel]="searchstring"
                (ngModelChange)="filterOptions($event)"
                >
        </div>

        <div class="overlay__option selectable"
            *ngFor="let option of (filteredOptions ? filteredOptions : list)"
            (click)="click(option)"
            [class.selectable--active]="(selectedValues.indexOf(option.value) !== -1) || (selectedValue === option.value)" id="{{ option.label }}">{{ option.label }}</div>

    </pk-overlay-content>
</pk-overlay>
