@import './../../../theme.scss';

.label {
    .label--verified {
        color: $success;
    }
}

.block {
    .comment {
        &.comment--changes {
            display: none;
            &:last-child {
                display: block;
            }
        }
    }
}
