<div id="application-detail" class="rel" *ngIf="application">
    <h2 class="element element--spacing-bottom-small">Application: {{ application.title }}</h2>

    <pk-form
        *ngIf="application.attributes?.length > 0"
        [formElements]="application.attributes"
        [disabled]="true"
        ></pk-form>

    <pk-floating top-right fixed>
        <a routerLink="/applications/{{ application.id }}/edit">
            <pk-button rounded class="element--spacing-bottom-small" [icon]="'create'" element--secondary></pk-button>
        </a>
        <pk-button rounded class="element--spacing-bottom-large" [icon]="'send'" element--success></pk-button>
        <pk-button rounded class="element--spacing-bottom-small" [icon]="'undo'" element--error></pk-button>
        <pk-button rounded [icon]="'delete'" element--error></pk-button>
    </pk-floating>
</div>
