<div id="application-detail" class="rel" *ngIf="application">
    <h2 class="devider devider--primary element element--spacing-bottom-small">Application: {{ application.title }}</h2>

    <pk-form
        *ngIf="application.attributes?.length > 0"
        [formElements]="application.attributes"
        [disabled]="true"
        ></pk-form>

    <div class="floating floating--top-right floating--fixed">
        <a routerLink="/applications/{{ application.id }}/edit">
            <pk-button class="element--rounded element--spacing-bottom-small" [icon]="'create'" element--secondary></pk-button>
        </a>
        <pk-button class="element--rounded element--spacing-bottom-large" [icon]="'send'" element--success></pk-button>
        <pk-button class="element--rounded element--spacing-bottom-small" [icon]="'undo'" element--error></pk-button>
        <pk-button class="element--rounded" [icon]="'delete'" element--error></pk-button>
    </div>
</div>
