<div id="application-detail" class="rel" *ngIf="application">
    <h2 class="element element--spacing-bottom-small">Application: {{ application.title }}</h2>

    <pk-dynamic-form-disabled *ngIf="application.attributes?.length > 0" [form]="application.attributes"></pk-dynamic-form-disabled>

    <pk-list>
        <pk-list-header>
            <pk-list-attribute [name]="'state-icon'"></pk-list-attribute>
            <pk-list-attribute [name]="'name'">Message</pk-list-attribute>
            <pk-list-attribute [name]="'date'">Created</pk-list-attribute>
            <pk-list-attribute [name]="'state'">Author</pk-list-attribute>
            <pk-list-attribute [name]="'state'">Private</pk-list-attribute>
        </pk-list-header>
        <pk-list-content>
            <pk-list-element *ngFor="let comment of application.comments" [name]="comment.isPrivate ? 'denied' : 'accepted'">
                <pk-list-attribute [name]="'state-icon'"></pk-list-attribute>
                <pk-list-attribute [name]="'name'">{{ comment.message }}</pk-list-attribute>
                <pk-list-attribute [name]="'date'">{{ comment.created | date }}</pk-list-attribute>
                <pk-list-attribute [name]="'state'">{{ comment.author.salutation }} {{ comment.author.name }}</pk-list-attribute>
                <pk-list-attribute [name]="'state'">{{ comment.isPrivate }}</pk-list-attribute>
            </pk-list-element>
        </pk-list-content>
    </pk-list>

    <pk-floating top-right fixed>
        <a routerLink="/applications/{{ application.id }}/edit">
            <pk-button rounded [pkAlert]="'Edit Application'" class="element--spacing-bottom-small" [icon]="'create'" element--secondary></pk-button>
        </a>
        <pk-button rounded [pkAlert]="'Submit Application'" class="element--spacing-bottom-large" [icon]="'send'" element--success></pk-button>
        <pk-button rounded [pkAlert]="'Recind Application'" class="element--spacing-bottom-small" [icon]="'undo'" element--error></pk-button>
        <pk-button rounded [pkAlert]="'Deactivate Application'" [icon]="'delete'" element--error></pk-button>
    </pk-floating>
</div>
