<div>
    <div *ngIf="hintElements && hintElements.length != 0" class="hint hint--bottom-right" [class.hint--visible]="hintElements && hintElements.length != 0">
        <div class="hint-element hint-element--visible" *ngFor="let element of hintElements"
            [class.hint--error]="element.type === 'error'"
            [class.hint--tooltip]="element.type === 'tooltip'"
            [class.hint--rotating-icon]="element.type === 'loading'"
            [class.hint--success]="element.type === 'success'">
            <span [ngSwitch]="element.type">
                <i *ngSwitchCase="'loading'" class="material-icons md-18" aria-hidden="true">sync</i>
                <i *ngSwitchCase="'tooltip'" class="material-icons md-18" aria-hidden="true">help</i>
            </span>
            {{ element.message }}
        </div>
    </div>
</div>
