<pk-loading *ngIf="!role"></pk-loading>

<div *ngIf="role" class="rel">

    <h2 class="element element--spacing-bottom-small" i18n>Role: {{ role.name }}</h2>
    <pk-devider class="element element--spacing-bottom-large"></pk-devider>

    <div *ngIf="!role.rolePermissions || !role.rolePermissions.length" class="empty-wrapper">
        <div class="label" i18n>No Permissions here.</div>
        <pk-button icon="add" element--secondary value="TODO" class="element--spacing-top-large"></pk-button>
    </div>

    <div *ngIf="role.rolePermissions?.length">
        <h3 class="element element--spacing-bottom-small" i18n>Permissions:</h3>
        <pk-devider class="element element--spacing-bottom-large"></pk-devider>

        <pk-list>
            <pk-list-header>
                <pk-list-attribute name="name" i18n>Title</pk-list-attribute>
                <pk-list-attribute name="description" i18n>Description</pk-list-attribute>
            </pk-list-header>
            <pk-list-content>
                <pk-list-element *ngFor="let permission of role.rolePermissions">
                    <pk-list-attribute name="name">{{ permission.name }}</pk-list-attribute>
                    <pk-list-attribute name="description">{{ permission.description }}</pk-list-attribute>

                    <pk-floating top-right horizontal>
                        <pk-button *accessEditPermissions rounded i18n-pkAlert pkAlert="Edit Permission" icon="create" (onClick)="editPermission(permission)" element--secondary></pk-button>
                    </pk-floating>
                </pk-list-element>
            </pk-list-content>
        </pk-list>
    </div>
</div>
