<pk-loading *ngIf="!conference"></pk-loading>

<ng-container *ngIf="conference">
    <div id="conference-edit" class="rel">
        <h2 class="element element--spacing-bottom-small">Edit Conference: {{ conference.description }}</h2>

        <ng-container *ngIf="!conference.config || !conference.config.length">
            <div class="empty-wrapper">
                <div class="label" i18n>No Elements here.</div>
                <pk-button
                    *accessEditConferences
                    class="element--spacing-top-large"
                    element--secondary
                    i18n-value
                        value="Add Config to Conference"
                    icon="add"
                    (onClick)="openEntryModal()">
                </pk-button>
            </div>
        </ng-container>

        <ng-container *ngIf="conference.config && conference.config.length">
            <ng-container *ngFor="let entry of conference.config; let index = index">
                <div class="block">
                    <pk-conference-entry [index]="index + 1" [entry]="entry" [forms]="forms" (remove)="removeElement($event)"></pk-conference-entry>
                </div>
            </ng-container>
        </ng-container>

        <pk-floating top-right fixed>
            <a routerLink="/conferences/{{ conference.id }}">
                <pk-button
                    class="element--spacing-bottom-tiny"
                    rounded
                    element--error
                    i18n-pkAlert
                        pkAlert="Cancel"
                    icon="clear">
                </pk-button>
            </a>
            <pk-button
                *accessEditConferences
                class="element--spacing-bottom-tiny"
                rounded
                element--secondary
                i18n-pkAlert
                    pkAlert="Save Conference"
                icon="save"
                (onClick)="saveConference()">
            </pk-button>
            <pk-button-animation-wrapper animationDown>
                <pk-button
                    *accessEditConferences
                    class="element--spacing-bottom-tiny"
                    rounded
                    element--secondary
                    i18n-pkAlert
                        pkAlert="Add Config to Conference"
                    icon="playlist_add"
                    (onClick)="openEntryModal()">
                </pk-button>
                <pk-button
                    *accessEditConferences
                    class="element--spacing-bottom-tiny"
                    rounded
                    element--secondary
                    i18n-pkAlert
                        pkAlert="Edit Conference Attributes"
                    icon="settings"
                    (onClick)="overlay.toggle()">
                </pk-button>
                <pk-button-conference-delete *accessEditConferences [conference]="conference" (success)="removeConference($event)"></pk-button-conference-delete>
            </pk-button-animation-wrapper>
        </pk-floating>
    </div>
</ng-container>

<pk-modal-add-conference-entry #addEntryModal></pk-modal-add-conference-entry>

<pk-modal-add-conference-list #addListModal></pk-modal-add-conference-list>

<pk-overlay #overlay>
    <pk-overlay-header i18n>Edit Conference</pk-overlay-header>
    <pk-overlay-content>

        <pk-dynamic-form-overlay
            [form]="editConferenceForm"
            (save)="updateConference($event)"
            ></pk-dynamic-form-overlay>

    </pk-overlay-content>
</pk-overlay>
