@import './../../../theme.scss';

.animation--target {
    display: flex;
    flex-direction: column-reverse;
}

.empty-wrapper {
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid $guidance-color;
    position: relative;
}
