<div id="conferences" class="content--default">
    <div class="rel">
        <h1 class="devider devider--primary element element--spacing-bottom-small">Conferences</h1>

        <pk-form [formElements]="form" [hasSubmit]="true" (onSubmit)="save($event) " [hasCancel]="true" (onCancel)="cancel($event)"></pk-form>
    </div>
    <div class="floating floating--fixed floating--top-right">
        <pk-button class="element--rounded element--spacing-bottom-tiny" [icon]="'create'" element--secondary></pk-button>
        <pk-button class="element--rounded" [icon]="'add'" element--success></pk-button>
    </div>
</div>
