@import './../../config.scss';
@import './../../theme/_typescale.scss';
@import './../../theme/elements/_devider.scss';

.list {
    .list__header {
        .list-element {
            .list-element__attribute {
                font-weight: 600;
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    color: $guidance-color;
                }
            }
            .list-element__attribute--state-icon {
                background-color: transparent;
                border-color: $black;
            }
        }
    }

    .list__content {

    }
}

.list-element {
    // @extend .devider;
    @include clearfix();
    position: relative;
    display: flex;

    .floating.floating--top-right {
        top: 8px;
    }

    .list-element__attribute {
        display: block;
        float: left;
        // margin: 17px 10px;
        padding: .65rem;
        margin: 0;
        line-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a:hover {
            color: $guidance-color;
        }

        // &.list-element__attribute--state-icon {
        //     min-width: 16px;
        //     height: 16px;
        //     border: $border-width solid $accent-color;
        //     background: $accent-color;
        //     border-radius: 50%;
        //     margin: 20px;
        //     display: block;
        //     float: left;
        // }

        flex: 1;
        @extend .font_smaller;


        &.list-element__attribute--primary {
            flex: 2;
            transition: color .3s ease-in-out;
            @extend .font_small;
        }

        &.list-element__attribute--state {
            text-transform: uppercase;
        }
    }

    // States

    &.list-element--created {
        $current-color: $accent-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--submitted {
        $current-color: $guidance-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--rescinded {
        $current-color: $lightgray;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--deactivated {
        $current-color: $darkwhite;
        color: $current-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
    }
    &.list-element--pending {
        $current-color: $guidance-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--accepted {
        $current-color: $success;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--denied {
        $current-color: $error;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--restricted {
        $current-color: $error;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--no-restricted {
        $current-color: $success;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
}

.list {
     > :not(.list__header) {
        transition: background .3s ease-in-out, border-color .3s ease-in-out, opacity .3s ease-in-out;

        $border: 2px;

        .list-element {
            margin: $border 0;

            &:hover {
                background: $background-list-element-hover;

                .list-element__attribute {
                    background: $background-list-element-hover;
                    opacity: 0.7;
                }
            }
        }

        .list-element__attribute {
            border-right: $border solid $background-content;
            &:last-child {
                border-right: 0px;
            }
            opacity: 1;
            background: $background-list-element;
            transition: background .3s ease-in-out, opacity .3s ease-in-out;
        }
    }
}
