@import './../../config.scss';
@import './../../theme/_typescale.scss';
@import './../../theme/_material.scss';
@import './../../theme/elements/_devider.scss';

@mixin list-element__icon($arg) {
    &:before {
        @extend .material-icons;
        content: $arg;
        font-size: 1em;
        margin-right: 0.5em;
    }
}

.list {
    margin: 12px 0;
    .list__header {
        .list-element {
            .list-element__attribute {
                font-weight: 600;
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    color: $guidance-color;
                }
            }
            .list-element__attribute--state-icon {
                background-color: transparent;
                border-color: $black;
            }
        }
    }

    .list__content {

    }
}

.list-element {
    // @extend .devider;
    @include clearfix();
    position: relative;
    display: flex;

    .floating.floating--top-right {
        top: 8px;
        right: 1rem;
    }

    .list-element__attribute {
        display: block;
        float: left;
        // margin: 17px 10px;
        padding: .65rem;
        margin: 0;
        line-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a:hover {
            color: $guidance-color;
        }

        // &.list-element__attribute--state-icon {
        //     min-width: 16px;
        //     height: 16px;
        //     border: $border-width solid $accent-color;
        //     background: $accent-color;
        //     border-radius: 50%;
        //     margin: 20px;
        //     display: block;
        //     float: left;
        // }

        flex: 1;
        @extend .font_smaller;

        &[primary] {
            flex: 2;
            transition: color .3s ease-in-out;
            @extend .font_small;
        }

        &.list-element__attribute--state {
            text-transform: uppercase;
        }


        &.list-element__attribute--application {
            @include list-element__icon('description')
        }
        &.list-element__attribute--form {
            @include list-element__icon('library_books')
        }
        &.list-element__attribute--conference {
            @include list-element__icon('forum')
        }
        &.list-element__attribute--date {
            @include list-element__icon('date_range')
        }
        &.list-element__attribute--time {
            @include list-element__icon('access_time')
        }
        &.list-element__attribute--person {
            @include list-element__icon('person')
        }
        &.list-element__attribute--version {
            @include list-element__icon('replay')
        }
        &.list-element__attribute--secure {
            @include list-element__icon('security')
        }
        &.list-element__attribute--email {
            @include list-element__icon('email')
        }
        &.list-element__attribute--room {
            @include list-element__icon('room')
        }
        &.list-element__attribute--info {
            @include list-element__icon('info_outline')
        }

        &.list-element--restricted {
            $current-color: $error;
            color: $current-color;
        }
        &.list-element--no-restricted {
            $current-color: $success;
            color: $current-color;
        }
        &.list-element--active {
            $current-color: $success;
            color: $current-color;
        }
        &.list-element--inactive {
            $current-color: $error;
            color: $current-color;
        }
        &.list-element--validation {
            $current-color: $error;
            color: $current-color;
        }
    }

    // States

    &.list-element--created {
        $current-color: $accent-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--submitted {
        $current-color: $guidance-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--rescinded {
        $current-color: $lightgray;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--deactivated {
        $current-color: $darkwhite;
        color: $current-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
    }
    &.list-element--pending {
        $current-color: $guidance-color;
        .list-element__attribute--state-icon { border-color: $current-color; background: transparent }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--accepted {
        $current-color: $success;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
        .list-element__attribute--state { color: $current-color }
    }
    &.list-element--denied {
        $current-color: $error;
        .list-element__attribute--state-icon { border-color: $current-color; background: $current-color }
        .list-element__attribute--state { color: $current-color }
    }
}

.list {
     > :not(.list__header) {
        transition: background .3s ease-in-out, border-color .3s ease-in-out, opacity .3s ease-in-out;

        $border: 2px;

        .list-element {
            margin: $border 0;

            &:hover {
                background: $background-list-element-hover;

                .list-element__attribute {
                    background: $background-list-element-hover;
                    opacity: 0.7;
                }
            }
        }

        .list-element__attribute {
            border-right: $border solid $background-content;
            &:last-child {
                border-right: 0px;
            }
            opacity: 1;
            background: $background-list-element;
            transition: background .3s ease-in-out, opacity .3s ease-in-out;
        }
    }
}
