@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating {
  -webkit-animation: rotating $animation-time linear infinite;
  -moz-animation: rotating $animation-time linear infinite;
  -ms-animation: rotating $animation-time linear infinite;
  -o-animation: rotating $animation-time linear infinite;
  animation: rotating $animation-time linear infinite;
}


// http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
.animation {
    $delta-t: 0.1;
    &.animation--trigger:hover {
        .animation--target {
            visibility: visible;
            transition-delay: 0s;
            > * {
                transform: translateX(-15px);
                visibility: visible;
                opacity: 1;
            }
            @for $i from 1 through 7 {
                > *:first-child:nth-last-child(#{$i}),
                > *:first-child:nth-last-child(#{$i}) ~ * {
                    @for $j from 1 through $i {
                        &:nth-child(#{$j}) {
                            transform: scale(1) translateX(-12px);
                            transition-delay: #{$delta-t * ($i + 1 - $j) + 0.1}s;
                        }
                    }
                }
            }
        }
    }

    .animation--target {
        visibility: hidden;
        transition: visibility .5s linear .5s;
        > * {
            display: block;
            position: relative;
            visibility: hidden;
            opacity: 0;
            transform-origin: center;
            transform: scale(0.9);
        }
        @for $i from 1 through 7 {
            > *:first-child:nth-last-child(#{$i}),
            > *:first-child:nth-last-child(#{$i}) ~ * {
                @for $j from 1 through $i {
                    &:nth-child(#{$j}) {
                        left: 12px;
                        transition:
                            opacity .3s ease-in-out #{ $delta-t * $j + 0.0 }s,
                            visibility .3s linear #{ $delta-t * $j + 0.3 }s,
                            transform .3s ease-in-out #{ $delta-t * $j + 0 }s;
                    }
                }
            }
        }
    }

    // default animation--left
    &.animation--down {
        &.animation--trigger:hover {
            .animation--target {
                > * {
                    transform: translateY(15px);
                }
                @for $i from 1 through 7 {
                    > *:first-child:nth-last-child(#{$i}),
                    > *:first-child:nth-last-child(#{$i}) ~ * {
                        @for $j from 1 through $i {
                            &:nth-child(#{$j}) {
                                transform: scale(1) translateY(12px);
                            }
                        }
                    }
                }
            }
        }
        .animation--target {
            @for $i from 1 through 7 {
                > *:first-child:nth-last-child(#{$i}),
                > *:first-child:nth-last-child(#{$i}) ~ * {
                    @for $j from 1 through $i {
                        &:nth-child(#{$j}) {
                            left: 0;
                            top: -12px;
                        }
                    }
                }
            }
        }
    }
    &.animation--up {
        &.animation--trigger:hover {
            .animation--target {
                > * {
                    transform: translateY(-15px);
                }
                @for $i from 1 through 7 {
                    > *:first-child:nth-last-child(#{$i}),
                    > *:first-child:nth-last-child(#{$i}) ~ * {
                        @for $j from 1 through $i {
                            &:nth-child(#{$j}) {
                                transform: scale(1) translateY(-12px);
                            }
                        }
                    }
                }
            }
        }
        .animation--target {
            @for $i from 1 through 7 {
                > *:first-child:nth-last-child(#{$i}),
                > *:first-child:nth-last-child(#{$i}) ~ * {
                    @for $j from 1 through $i {
                        &:nth-child(#{$j}) {
                            left: 0;
                            top: 12px;
                        }
                    }
                }
            }
        }
    }
    &.animation--right {
        &.animation--trigger:hover {
            .animation--target {
                > * {
                    transform: translateX(15px);
                }
                @for $i from 1 through 7 {
                    > *:first-child:nth-last-child(#{$i}),
                    > *:first-child:nth-last-child(#{$i}) ~ * {
                        @for $j from 1 through $i {
                            &:nth-child(#{$j}) {
                                transform: scale(1) translateX(12px);
                            }
                        }
                    }
                }
            }
        }
        .animation--target {
            @for $i from 1 through 7 {
                > *:first-child:nth-last-child(#{$i}),
                > *:first-child:nth-last-child(#{$i}) ~ * {
                    @for $j from 1 through $i {
                        &:nth-child(#{$j}) {
                            left: -12px;
                        }
                    }
                }
            }
        }
    }
}


.floating {
    .animation--target {
        display: flex;
        flex-direction: column-reverse;
    }
}
