// @ i want hue

// generally mapping of colors (material)

$accent-color: #3F51B5;
$guidance-color: #009688;

$success: #4CAF50;
$error: #F44336;

// colorblind v1

// $accent-color: #1d58cb;
// $guidance-color: #ffc864;

// $success: #418d06;
// $error: #f255ad;

// colorblind v2

// $accent-color: #5242b4;
// $guidance-color: #6a0037;

// $success: #9cbe31;
// $error: #fa575c;

// colorblind v3

// $accent-color: #944fa0;
// $guidance-color: #687dd3;

// $success: #9a9945;
// $error: #c76674;

// black to white

$black: #212121;

$darkgray: #454545;

$lightgray: #777;

$darkwhite: #ddd;

$mediumwhite: #f1efef;

$white: #fefefe;

// Mapping to Element

$input-color: $black;
$label-color: $black;

// $option-color: $black; // input-color
$option-color-default: $darkgray;

$toggl-background-hover: lighten($accent-color, 30%);
$toggl-background-active-hover: lighten($accent-color, 15%);

$element-background: $white;

$element-border: $darkwhite;
$element-border-hover: lighten($accent-color, 25%);
$element-border-invalid: $error;

$element-hover-edit: rgba($guidance-color, 0.2);

// Background

$background-body: lighten($mediumwhite, 4%);

$background-content: lighten($mediumwhite, 2%);

$background-list-element: lighten($mediumwhite, 4%);

$background-list-element-hover: lighten($mediumwhite, 5%);

// Mapping to Array

$theme: (primary, $accent-color),
        (secondary, $guidance-color),
        (success, $success),
        (error, $error),
        (hover, $white);

$colors:  ('primary', $accent-color),
          ('secondary', $guidance-color),
          ('success', $success),
          ('error', $error),
          ('black', $black),
          ('darkgray', $darkgray),
          ('lightgray', $lightgray),
          ('darkwhite', $darkwhite),
          ('mediumwhite', $mediumwhite),
          ('white', $white);
