// @ i want hue

// generally mapping of colors

$accent-color: #3F51B5;
$guidance-color: #009688;

$success: #4CAF50;
$error: #F44336;

// black to white

$black: #212121;

$darkgray: #454545;

$lightgray: #777;

$darkwhite: #ddd;

$mediumwhite: #efefef;

$white: #fefefe;

// Mapping to Element

$input-color: $black;
$label-color: $black;

// $option-color: $black; // input-color
$option-color-default: $darkgray;

$toggl-background-hover: lighten($accent-color, 30%);
$toggl-background-active-hover: lighten($accent-color, 15%);

$element-background: $white;

$element-border: $darkwhite;
$element-border-hover: lighten($accent-color, 25%);
$element-border-invalid: $error;

// Mapping to Array

$theme: (primary, $accent-color),
        (secondary, $guidance-color),
        (success, $success),
        (error, $error),
        (hover, $white);

$colors:  (primary, $accent-color),
          (secondary, $guidance-color),
          (success, $success),
          (error, $error),
          (black, $black),
          (darkgray, $darkgray),
          (lightgray, $lightgray),
          (darkwhite, $darkwhite),
          (mediumwhite, $mediumwhite),
          (white, $white);


@each $selector, $color in $colors {
  .color--#{$selector} {
    color: $color;
  }
  .background--#{$selector} {
    background-color: $color;
    border-radius: $border-radius;
  }
  .border--#{$selector} {
    border: $border-width solid $color;
    border-radius: $border-radius;
  }
}
