$navbar-height: 50px;

$animation-time: 2s;

$icon-size-medium: 25px;


$border-radius: 2px;
$border-width: 1px;


$default-width: 100px;


$navbar-mobile-break: 620px;
$form-mobile-break: 700px;

$element-grid-base: 2rem;
