<ng-container *ngIf="entry">

    <ng-container *ngIf="!entry.entries || !entry.entries.length">
        <div id="conference-entry-selected-form" class="empty-wrapper animation animation--trigger">
            <ng-container *ngIf="!entry.formId">
                <div class="label" i18n>No Generic Id selected</div>
            </ng-container>
            <ng-container *ngIf="entry.formId">
                <div class="label element element--spacing-bottom-small" i18n>Connected Form: {{ getLabelOfForm(entry.formId) }}</div>
                <ng-container *ngIf="!entry.fields || !entry.fields.length">
                    <h4 class="label" i18n>No Fields selected.</h4>
                </ng-container>
                <ng-container *ngIf="entry.fields && entry.fields.length">
                    <pk-list>
                        <pk-list-header dnd-sortable-container [sortableData]="entry.fields">
                            <ng-container *ngFor="let field of entry.fields; let i = index">
                                <pk-list-attribute [name]="field" dnd-sortable [sortableIndex]="i">{{ field }}</pk-list-attribute>
                            </ng-container>
                        </pk-list-header>
                    </pk-list>
                </ng-container>
                <pk-floating horizontal top-right>
                    <pk-button
                        class="element--spacing-left-tiny"
                        rounded
                        element--secondary
                        i18n-pkAlert
                        pkAlert="Edit Attributes"
                        icon="create"
                        (onClick)="editFormFields()">
                    </pk-button>
                </pk-floating>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
