@import './../../../theme';

.element__label {

    span {
        position: relative;
        top: $element-grid-base/8;
    }
}

.element__options {
    &:not(.element--disabled) {

        .element__label {

            cursor: pointer;

            &:hover {

                .element__radio {
                    background: lighten($accent-color, 30%);

                    &.element--active {
                        background: lighten($accent-color, 15%);
                    }
                }
            }
        }
    }
}

.element__radio {
    width: $element-grid-base/2;
    height: $element-grid-base/2;
    display: inline-block;
    border: $border-width solid $accent-color;
    border-radius: 50%;
    position: relative;
    top: 0.5rem;

    &.element--active {
        background: $accent-color;
    }

    + span {
        padding-left: $element-grid-base/4;
    }
}
.element__options.element--disabled .element__radio {
    border-color: $mediumwhite;

    &.element--active {
        background: $darkwhite;
        border-color: transparent;
    }
}
