<div
    *ngIf="config"
    class="element__wrapper"
    [class.element__invalid]="formControl.errors"
    >

  <label
    class="element__label"
    [class.element--required]="config.required"
    *ngIf="config.label"
    [attr.for]="config.name">
    {{ config.label }}
  </label>
  <textarea
    *ngIf="!isDisabled()"
    class="element__textarea"
    [attr.id]="config.name"
    [attr.type]="config.contentType"
    [attr.placeholder]="config.placeholder"
    [formControl]="formControl"
    ></textarea>

    <div
        *ngIf="isDisabled()"
        class="element__textarea element--disabled"
        >
        {{ config.value }}
        </div>

</div>
