@import './../colors.scss';


/**
* Element Seperator
*/

.devider {
    display: block;
    border-bottom: 1px solid $darkwhite;

    &.devider--hidden {
        opacity: 0;
    }

    @each $selector, $color in $colors {
        &.devider--#{$selector} {
            border-color: $color;
        }
    }
}
