

/**
* Label
*/

.element__label {
    @extend .font_smallest;

    color: $label-color;
    display: block;

    /*line-height: $element-grid-base;*/
    min-height: $element-grid-base;

    &:not(.element--align) {
        padding-top: $element-grid-base/4;
    }

    &:not(.element--no-wrap) {
        font-weight: 700;
        height: $element-grid-base;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    &:after {
        @extend .font_smaller;
    }
    &.element--required {
        &:not(.element--no-validation) {
            &:after {
                content: '*'
            }
        }
    }
}


.label {
    @extend .font_smaller;
}
.caption {
    @extend .font_smallest;
}
