

/**
* Label
*/

.element__label {
    @extend .font_smallest;

    color: $label-color;
    display: block;

    /*line-height: $element-grid-base;*/
    min-height: $element-grid-base;

    &:not(.element--align) {
        padding-top: $element-grid-base/4;
    }

    &:not(.element--no-wrap) {
        font-weight: 600;
        height: $element-grid-base;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    &:after {
        @extend .font_smaller;
    }
    &.element--required {
        &:not(.element--no-validation) {
            &:after {
                content: '*'
            }
        }
    }
}


.label {
    @extend .font_smaller;

    &__status {
        text-transform: capitalize;

        &.label--created {
            $current-color: $accent-color;
            color: $current-color;
        }
        &.label--submitted {
            $current-color: $guidance-color;
            color: $current-color;
        }
        &.label--rescinded {
            $current-color: $lightgray;
            color: $current-color;
        }
        &.label--deactivated {
            $current-color: $darkwhite;
            color: $current-color;
        }
        &.label--pending {
            $current-color: $guidance-color;
            color: $current-color;
        }
        &.label--accepted {
            $current-color: $success;
            color: $current-color;
        }
        &.label--denied {
            $current-color: $error;
            color: $current-color;
        }
    }
}
.caption {
    @extend .font_smallest;
}
