.list-element {
    @extend .devider;
    @include clearfix();
    position: relative;
    display: flex;

    // -> denied
    &.list-element--created {
        $current-color: $accent-color;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
    }
    &.list-element--submitted {
        $current-color: $guidance-color;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
    }
    &.list-element--rescinded {
        $current-color: $lightgray;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
    }
    &.list-element--deactivated {
        $current-color: $darkwhite;
        color: $current-color;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
    }
    &.list-element--pending {
        $current-color: $guidance-color;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
    }
    &.list-element--accepted {
        $current-color: $success;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
        .list-element__modified { color: $current-color }
    }
    &.list-element--denied {
        $current-color: $error;
        .list-element__state-icon { border-color: $current-color; background: $current-color }
        .list-element__state { color: $current-color }
        .list-element__modified { color: $current-color }
    }
    &:hover {
        @extend .devider--secondary;
        .floating {
            display: block;
        }
        .list-element__date, .list-element__modified, .list-element__state {
            display: none;
        }
    }

    .floating {
        display: none;
    }

    .list-element__state-icon {
        min-width: 30px;
        height: 30px;
        border: $border-width solid $accent-color;
        background: $accent-color;
        border-radius: 50%;
        margin: 13px;
        display: block;
        float: left;
    }

    .list-element--context {
        display: block;
        float: left;
        margin: 17px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .list-element__name {
        flex: 1;

        &:hover {
            color: $guidance-color;
        }
    }

    .list-element__date {
        @extend .font_small;
        line-height: 23px;
        width: 12%;
        min-width: 70px;
        @media (max-width: 600px) {
            display: none;
        }
    }

    .list-element__state {
        @extend .font_small;
        line-height: 23px;
        width: 15%;
        min-width: 100px;
        text-transform: uppercase;
        font-weight: 700;
        @media (max-width: 700px) {
            display: none;
        }
    }

    .list-element__modified {
        @extend .font_small;
        line-height: 23px;
        width: 12%;
        min-width: 70px;
        @media (max-width: 500px) {
            display: none;
        }
    }
}
