.list-element {
    @extend .devider;
    @include clearfix();
    position: relative;

    .floating {
        display: none;
    }
    &:hover {
        @extend .devider--secondary;
        .floating {
            display: block;
        }
    }

    .list-element__state {
        width: 30px;
        height: 30px;
        border: $border-radius solid $accent-color;
        border-radius: 50%;
        margin: 13px;
        display: block;
        float: left;
    }

    .list-element__name {
        display: block;
        float: left;
        margin: 17px 10px;
        width: 40%;

        &:hover {
            color: $guidance-color;
        }
    }

    .list-element__date {
        display: block;
        float: left;
        margin: 17px 10px;
        width: 40%;
    }
}
