<div id="application-edit" class="rel" *ngIf="application">
    <h2 class="element element--spacing-bottom-small">Edit Application: {{ application.title }}</h2>

    <pk-form
        *ngIf="application.attributes?.length > 0"
        [formElements]="application.attributes"
        [hasSubmit]="true"
        (onSubmit)="saveApplication($event)"
        ></pk-form>

    <pk-floating top-right fixed>
        <!--<pk-button *ngIf="dynamicForm.form.valid" class="element--spacing-bottom-small element--rounded" [icon]="'save'" (onClick)="saveApplication(dynamicForm.form.value)" element--success></pk-button>-->
        <pk-button class="element--rounded element--spacing-bottom-small" [icon]="'undo'" element--error></pk-button>
        <pk-button class="element--rounded" [icon]="'delete'" element--error></pk-button>
    </pk-floating>
</div>
