<div id="application-edit" class="rel" *ngIf="application">
    <h2 class="element element--spacing-bottom-small">Edit Application: {{ application.title }}</h2>

    <pk-dynamic-form-default *ngIf="application.attributes?.length > 0" [form]="application.attributes" (onSubmit)="saveApplication($event)"></pk-dynamic-form-default>

    <pk-floating top-right fixed>
        <!--<pk-button rounded *ngIf="dynamicForm.form.valid" class="element--spacing-bottom-small" [icon]="'save'" (onClick)="saveApplication(dynamicForm.form.value)" element--success></pk-button>-->
        <pk-button rounded [pkAlert]="'Recind Application'" class="element--spacing-bottom-small" [icon]="'undo'" element--error></pk-button>
        <pk-button rounded [pkAlert]="'Deactivate Application'" [icon]="'delete'" element--error></pk-button>
    </pk-floating>
</div>
