<pk-overlay #overlay>
    <pk-overlay-header i18n>Change Password</pk-overlay-header>
    <pk-overlay-content>

        <pk-dynamic-form [formGroup]="changePasswordForm" #dynamicForm>
            <pk-dynamic-form-content>
                <pk-dynamic-form-element *ngFor="let element of changePasswordElements" [element]="element" [form]="dynamicForm.form"></pk-dynamic-form-element>
            </pk-dynamic-form-content>
            <pk-dynamic-form-submit>
                <pk-button
                    *ngIf="dynamicForm?.form"
                    (onClick)="changePassword(dynamicForm.form.value)"
                    i18n-value value="Save"
                    icon="security"
                    [class]="dynamicForm.form.valid ? 'element--success' : 'element--disabled'"
                    [type]="'submit'"></pk-button>
            </pk-dynamic-form-submit>
        </pk-dynamic-form>

    </pk-overlay-content>
</pk-overlay>
