<div id="roles">
    <div class="rel">
        <h1 class="element element--spacing-bottom-small" i18n>Roles</h1>

        <pk-list>
            <pk-list-header>
                <pk-list-attribute name="name" i18n>Name</pk-list-attribute>
                <pk-list-attribute name="state" i18n>Number of Permissions</pk-list-attribute>
            </pk-list-header>
            <pk-list-content>
                <pk-list-element *ngFor="let role of roles">
                    <pk-list-attribute name="name">
                        <a routerLink="{{ role.id }}">{{ role.name }}</a>
                    </pk-list-attribute>
                    <pk-list-attribute name="state">{{ role.rolePermissions.length }}</pk-list-attribute>

                    <pk-floating top-right horizontal>
                        <a *accessEditRoles routerLink="{{ role.id }}">
                            <pk-button rounded i18n-pkAlert pkAlert="Edit Role" icon="create" element--secondary></pk-button>
                        </a>
                    </pk-floating>
                </pk-list-element>
            </pk-list-content>
        </pk-list>

    </div>
    <pk-floating fixed top-right>
        <pk-button *accessEditRoles rounded i18n-pkAlert pkAlert="Create Role" icon="add" element--secondary (onClick)="overlay.toggle()"></pk-button>
    </pk-floating>

    <pk-overlay #overlay>
        <pk-overlay-header i18n>Create New Role</pk-overlay-header>
        <pk-overlay-content>

            <pk-dynamic-form [formElements]="newRole" #dynamicForm>
                <pk-dynamic-form-content>

                    <pk-dynamic-form-element *ngFor="let element of newRole" [element]="element" [form]="dynamicForm.form"></pk-dynamic-form-element>

                </pk-dynamic-form-content>

                <pk-dynamic-form-submit>
                    <pk-button
                        *ngIf="dynamicForm?.form"
                        i18n-value value="Create"
                        icon="note_add"
                        [class]="dynamicForm.form.valid ? 'element--success' : 'element--disabled'"
                        [type]="'submit'"
                        (onClick)="createNewRole(dynamicForm.form.value)"></pk-button>
                </pk-dynamic-form-submit>

            </pk-dynamic-form>

        </pk-overlay-content>
    </pk-overlay>
</div>
