@import './../../../../config';

.element__label {

    span {
        position: relative;
        top: $element-grid-base/8;
    }
}

.element__options {
    &:not(.element--disabled) {

        .element__label {

            cursor: pointer;

            &:hover {

                .element__radio {
                    background: $toggl-background-hover;
                    border-color: $accent-color;

                    &.element--active {
                        background: $toggl-background-active-hover;
                    }
                }
            }
        }
    }
}

.element__radio {
    width: $element-grid-base/2;
    height: $element-grid-base/2;
    display: inline-block;
    border: $border-width solid $element-border;
    background: $element-background;
    border-radius: 50%;
    position: relative;
    top: 0.5rem;

    &.element--active {
        background: $accent-color;
        border-color: $accent-color;
    }

    + span {
        padding-left: $element-grid-base/4;
    }
}
.element__options.element--disabled .element__radio {
    border-color: $element-border;

    &.element--active {
        background: $element-border;
        border-color: transparent;
    }
}
