<div class="entry element element--spacing-bottom-small">
    <div class="rel" *ngIf="entry">

        <div class="content">

            <div class="animation animation--trigger headline">
                <h4>{{ index }} {{ entry.title }}</h4>
                <pk-floating horizontal top-right>
                    <pk-button
                        class="element--spacing-left-tiny"
                        rounded
                        element--error
                        i18n-pkAlert
                        pkAlert="Remove Element"
                        icon="delete"
                        (onClick)="removeElement()">
                    </pk-button>
                    <pk-button
                        class="element--spacing-left-tiny"
                        rounded
                        element--secondary
                        i18n-pkAlert
                        pkAlert="Edit Element"
                        icon="create"
                        (onClick)="openEditModal()">
                    </pk-button>

                    <div [ngSwitch]="entry.type">
                        <!-- Config -->
                        <div *ngSwitchCase="'config'">
                            <pk-button
                                class="element--spacing-left-tiny"
                                rounded
                                element--secondary
                                i18n-pkAlert
                                pkAlert="Add Config to Conference"
                                icon="playlist_add"
                                (onClick)="openEntryModal()">
                            </pk-button>
                        </div>

                        <!-- Application -->
                        <div *ngSwitchCase="'application'">
                            <pk-button
                                class="element--spacing-left-tiny"
                                rounded
                                element--secondary
                                i18n-pkAlert
                                pkAlert="Set Generic Id"
                                icon="list"
                                (onClick)="setFormIdModal()">
                            </pk-button>
                        </div>

                        <!-- List -->
                        <div *ngSwitchCase="'list'">
                            <pk-button
                                class="element--spacing-left-tiny"
                                rounded
                                element--secondary
                                i18n-pkAlert
                                pkAlert="Add Entry to List"
                                icon="playlist_add"
                                (onClick)="openListEntryModal()">
                            </pk-button>
                        </div>
                    </div>
                </pk-floating>
            </div>

            <div class="label element element--spacing-bottom-small" *ngIf="entry.description">{{ entry.description }}</div>

            <div [ngSwitch]="entry.type">
                <!-- Config -->
                <div *ngSwitchCase="'config'">
                    <pk-conference-entry-config [entry]="entry" [index]="index" [forms]="forms"></pk-conference-entry-config>
                </div>

                <!-- Application -->
                <div *ngSwitchCase="'application'">
                    <pk-conference-entry-application [entry]="entry" [forms]="forms"></pk-conference-entry-application>
                </div>

                <!-- List -->
                <div *ngSwitchCase="'list'">

                    <div *ngIf="!entry.entries || !entry.entries.length" class="empty-wrapper">
                        <div class="label" i18n>No Elements here.</div>
                    </div>

                    <div *ngIf="entry.entries && entry.entries.length">

                        <pk-list>
                            <pk-list-content>

                                <div *ngFor="let element of entry.entries; let index = index">

                                    <pk-list-element>

                                        <div *ngFor="let value of element; let last = last">
                                            <pk-list-attribute [name]="last ? 'last' : ''">{{ value }}</pk-list-attribute>
                                        </div>

                                        <pk-floating horizontal top-right>
                                            <pk-button
                                                rounded
                                                element--error
                                                i18n-pkAlert
                                                pkAlert="Delete Element"
                                                icon="delete"
                                                (onClick)="deleteListEntry(index)">
                                            </pk-button>
                                            <pk-button
                                                rounded
                                                element--secondary
                                                i18n-pkAlert
                                                pkAlert="Edit Element"
                                                icon="create"
                                                (onClick)="openEditListEntryModal(element, index)">
                                            </pk-button>
                                        </pk-floating>

                                    </pk-list-element>

                                </div>

                            </pk-list-content>
                        </pk-list>

                    </div>

                </div>

                <!-- Default -->
                <div *ngSwitchDefault>
                    <div class="empty-wrapper" *ngIf="entry.entries?.length">
                        <div i18n>No Type of config set</div>
                    </div>
                </div>
            </div>

            <div class="caption element element--spacing-top-small" *ngIf="entry.footer">{{ entry.footer }}</div>
        </div>
    </div>
</div>
