<div class="entry">
    <ng-container *ngIf="entry">
        <div class="rel">
            <div class="content">

                <div class="animation animation--trigger headline">
                    <h4>{{ index }} {{ entry.title }}</h4>
                </div>

                <div class="label element element--spacing-bottom-small" *ngIf="entry.description">{{ entry.description }}</div>

                <ng-container [ngSwitch]="entry.type">
                    <!-- Config -->
                    <ng-container *ngSwitchCase="'config'">
                        <ng-container *ngIf="entry.entries">
                            <ng-container *ngFor="let entry of entry.entries; trackBy: trackByFn; let i = index">
                                <div class="block">
                                    <pk-conference-entry-detail [index]="index + '.' + (i + 1)" [entry]="entry"></pk-conference-entry-detail>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- Application -->
                    <ng-container *ngSwitchCase="'application'">
                        <ng-container *ngIf="!entry.fields">
                            <div class="label" i18n>No Fields selected</div>
                        </ng-container>
                        <ng-container *ngIf="entry.entries && entry.fields">
                            <pk-list>
                                <pk-list-header>
                                    <pk-list-attribute i18n>Status</pk-list-attribute>
                                    <pk-list-attribute primary i18n>Author</pk-list-attribute>
                                    <ng-container *ngFor="let field of entry.fields">
                                        <pk-list-attribute>{{ field }}</pk-list-attribute>
                                    </ng-container>
                                </pk-list-header>
                                <pk-list-content>

                                    <ng-container *ngFor="let application of entry.entries">

                                        <pk-list-element [name]="application.status?.name">

                                            <pk-list-attribute name="state">{{ application.status?.name }}</pk-list-attribute>
                                            <pk-list-attribute primary name="person">
                                                <a *accessEditApplications routerLink="/applications/{{ application.id }}">
                                                    {{ !application.user || application.user.lastname }}
                                                </a>
                                                <ng-container *accessEditApplications="1">
                                                    {{ !application.user || application.user.lastname }}
                                                </ng-container>
                                            </pk-list-attribute>

                                            <ng-container *ngFor="let field of entry.fields">
                                                <pk-list-attribute>
                                                    {{ application.filledForm ? application.filledForm[field] : '' }}
                                                </pk-list-attribute>
                                            </ng-container>

                                            <pk-floating horizontal top-right>
                                                <pk-button
                                                    *ngIf="application.status?.name === 'pending'"
                                                    class="application--spacing-bottom-tiny"
                                                    rounded
                                                    element--success
                                                    i18n-pkAlert
                                                        pkAlert="Accept/Decline Application"
                                                    icon="thumbs_up_down"
                                                    (onClick)="acceptModal.openModal(application)">
                                                </pk-button>
                                            </pk-floating>

                                        </pk-list-element>

                                    </ng-container>

                                </pk-list-content>
                            </pk-list>
                        </ng-container>
                    </ng-container>

                    <!-- List -->
                    <ng-container *ngSwitchCase="'list'">
                        <ng-container *ngIf="entry.entries">
                            <pk-list>
                                <pk-list-content>

                                    <ng-container *ngFor="let element of entry.entries; let index = index">

                                        <pk-list-element>

                                            <ng-container *ngFor="let value of element; let last = last">
                                                <pk-list-attribute [name]="last ? 'last' : ''">{{ value }}</pk-list-attribute>
                                            </ng-container>

                                        </pk-list-element>

                                    </ng-container>

                                </pk-list-content>
                            </pk-list>
                        </ng-container>
                    </ng-container>

                    <!-- Default -->
                    <ng-container *ngSwitchDefault>
                        <ng-container *ngIf="entry.entries?.length">
                            <div class="empty-wrapper">
                                <div i18n>No Type of config set</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <div class="caption element element--spacing-top-small" *ngIf="entry.footer">{{ entry.footer }}</div>
            </div>
        </div>
    </ng-container>
</div>

<pk-modal-accept-application #acceptModal (change)="updateApplication($event)"></pk-modal-accept-application>
