<div
    *ngIf="config"
    class="element__wrapper"
    [class.element__invalid]="config.formControl.errors"
    >

    <label
        class="element__label"
        [class.element--required]="config.required"
        *ngIf="config.label"
        [attr.for]="config.name">
        {{ config.label }}
    </label>
    <input
        *ngIf="!isDisabled()"
        class="element__input"
        [attr.id]="config.name"
        [attr.type]="config.type"
        [attr.placeholder]="config.placeholder"
        [formControl]="config.formControl"
        >
    <div
        *ngIf="isDisabled()"
        class="element__input element--disabled"
        >
        {{ config.value }}
        </div>

</div>
