<div
    *ngIf="config"
    class="element__wrapper"
    [class.element__invalid]="formControl.errors"
    >

    <label
        class="element__label"
        [class.element--required]="config.required"
        *ngIf="config.label">
        {{ config.label }}
    </label>

    <!-- All selected Elements when multiselect -->
    <div class="element__select element__options"
        *ngIf="formControl.value && formControl.value.length !== 0"
        [class.element--disabled]="isDisabled()">

        <div *ngIf="!isDisabled()" class="element__option option--default" (click)="overlay.toggle()">
            <div class="element__value" *ngIf="config.placeholder">{{ config.placeholder }}</div>
            <div class="element__value" *ngIf="!config.placeholder" i18n>Add Option</div>
            <i class="element__icon material-icons md-20" aria-hidden="true">add</i>
        </div>

        <div *ngFor="let option of formControl.value" class="clearfix">
            <div *ngIf="!isDisabled()" class="element__option" (click)="removeOption(option)">
                <div class="element__value">{{ option.label }}</div>
                <i class="element__icon material-icons md-20" aria-hidden="true">close</i>
            </div>
            <div *ngIf="isDisabled()" class="element__option" >
                <div class="element__value">{{ option.label }}</div>
            </div>
        </div>

        <select *ngIf="!isDisabled()" class="hidden" multiple [attr.id]="config.name" [formControl]="formControl">
            <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>

    <!-- Default Element if nothing is selected -->
    <div class="element__select element__options"
        *ngIf="!formControl.value || formControl.value.length === 0"
        [class.element--disabled]="isDisabled()">
        <div *ngIf="!isDisabled()" class="element__option option--default" (click)="overlay.toggle()">
            <div class="element__value" *ngIf="config.placeholder">{{ config.placeholder }}</div>
            <div class="element__value" *ngIf="!config.placeholder" i18n>Add Option</div>
            <i class="element__icon material-icons md-20" aria-hidden="true">add</i>
        </div>
        <div *ngIf="isDisabled()" class="element__option">
            <div class="element__value">{{ 'No Option Selected' }}</div>
        </div>
    </div>

    <pk-overlay #overlay *ngIf="!isDisabled()" (close)="initAddOptionsForm()">
        <pk-overlay-header>
            <span *ngIf="config.placeholder">{{ config.placeholder }}</span>
            <span *ngIf="!config.placeholder" i18n>Add Option</span>
        </pk-overlay-header>
        <pk-overlay-content>

            <pk-dynamic-form *ngIf="overlay.isOpen" [formElements]="addOptionForm" #dynamicForm>
                <pk-dynamic-form-content>

                    <pk-dynamic-form-element *ngFor="let element of addOptionForm" [element]="element" [form]="dynamicForm.form"></pk-dynamic-form-element>

                </pk-dynamic-form-content>

                <pk-dynamic-form-submit>
                    <pk-button
                        *ngIf="dynamicForm?.form"
                        i18n-value value="Add"
                        icon="playlist_add"
                        [class]="dynamicForm.form.valid ? 'element--success' : 'element--disabled'"
                        (onClick)="addOption(dynamicForm.form.value)"></pk-button>
                </pk-dynamic-form-submit>

            </pk-dynamic-form>

        </pk-overlay-content>
    </pk-overlay>

</div>
