<pk-filter></pk-filter>

<pk-list>
    <pk-list-header>
        <pk-list-attribute                          i18n    (click)="sortBy('statusId')"                [class.list-element--sorting]="sort === 'statusId'">Status</pk-list-attribute>
        <pk-list-attribute primary                  i18n    (click)="sortBy('form.title')"              [class.list-element--sorting]="sort === 'form.title'">Title</pk-list-attribute>
        <pk-list-attribute *accessEditApplications  i18n    (click)="sortBy('user.lastname')"           [class.list-element--sorting]="sort === 'user.lastname'">Author</pk-list-attribute>
        <pk-list-attribute                          i18n    (click)="sortBy('conference.dateOfEvent')"  [class.list-element--sorting]="sort === 'conference.dateOfEvent'">Conference</pk-list-attribute>
        <pk-list-attribute                          i18n    (click)="sortBy('created')"                 [class.list-element--sorting]="sort === 'created'">Modified</pk-list-attribute>
        <pk-list-attribute                          i18n    (click)="sortBy('version')"                 [class.list-element--sorting]="sort === 'version'">Version</pk-list-attribute>
    </pk-list-header>
    <pk-list-content>
        <pk-list-element *ngFor="let application of (list.length ? list : applications)" [name]="application.statusId | status">

            <!--APPLICATION STATE-->
            <pk-list-attribute name="state">{{ application.statusId | status }}</pk-list-attribute>

            <!--APPLICATION TITLE-->
            <pk-list-attribute primary name="application">
                <a *ngIf="application.form" routerLink="/applications/{{ application.id }}">{{ application.form.title }}</a>
                <a *ngIf="!application.form" routerLink="/applications/{{ application.id }}" i18n>No Form to get Title from.</a>
            </pk-list-attribute>

            <!--APPLICATION AUTHOR-->
            <pk-list-attribute name="person">{{ application.user ? application.user.lastname : '' }}</pk-list-attribute>

            <!--APPLICATION CONFERENCE-->
            <pk-list-attribute [name]="application.conference ? 'date' : 'default'">
                <ng-container *accessReadConferences="1">
                    {{ application.conference ? (application.conference.dateOfEvent | date) : ''}}
                </ng-container>
                <ng-container *accessReadConferences>
                    <a *ngIf="application.conference" routerLink="/conferences/{{ application.conference.id }}">{{ application.conference.dateOfEvent | date  }}</a>
                </ng-container>
            </pk-list-attribute>

            <!--APPLICATION CREATED-->
            <pk-list-attribute name="date">{{ application.created | date }}</pk-list-attribute>

            <!--APPLICATION VERSION-->
            <pk-list-attribute name="version">{{ application.version }}</pk-list-attribute>

            <pk-floating horizontal top-right>
                <!--<pk-button-application-update [application]="application"></pk-button-application-update>-->
                <!--<pk-button-application-edit [application]="application"></pk-button-application-edit>-->

                <!--Assigned-->
                <pk-button-application-validate [application]="application"></pk-button-application-validate>

            </pk-floating>
        </pk-list-element>
    </pk-list-content>
</pk-list>

<pk-pagination></pk-pagination>
