<pk-list>
    <pk-list-header>
        <!--<pk-list-attribute name="state-icon" (click)="sortBy('status')"></pk-list-attribute>-->
        <pk-list-attribute i18n>Status</pk-list-attribute>
        <pk-list-attribute primary i18n>Title</pk-list-attribute>
        <pk-list-attribute *accessEditApplications i18n>Author</pk-list-attribute>
        <pk-list-attribute i18n>Conference</pk-list-attribute>
        <pk-list-attribute i18n>Modified</pk-list-attribute>
        <pk-list-attribute i18n>Version</pk-list-attribute>
    </pk-list-header>
    <pk-list-content>
        <pk-list-element *ngFor="let application of list" [name]="application.statusId | status">

            <pk-list-attribute name="state">{{ application.statusId | status }}</pk-list-attribute>

            <pk-list-attribute primary name="application">
                <a *ngIf="application.form" routerLink="/applications/{{ application.id }}">{{ application.form.title }}</a>
                <a *ngIf="!application.form"routerLink="/applications/{{ application.id }}" i18n>No Form to get Title from.</a>
            </pk-list-attribute>

            <pk-list-attribute name="person">{{ application.user ? application.user.lastname : '' }}</pk-list-attribute>
            <pk-list-attribute name="date">
                <ng-container *accessReadConferences="1">
                    {{ application.conference ? (application.conference.dateOfEvent | date) : ''}}
                </ng-container>
                <ng-container *accessReadConferences>
                    <a *ngIf="application.conference" routerLink="/conferences/{{ application.conference.id }}">{{ application.conference.dateOfEvent | date  }}</a>
                </ng-container>
            </pk-list-attribute>
            <pk-list-attribute name="date">{{ application.created | date }}</pk-list-attribute>
            <pk-list-attribute name="version">{{ application.version }}</pk-list-attribute>

            <pk-floating horizontal top-right>

                <ng-container *accessDeactivateApplications>
                    <pk-button-application-deactivate [application]="application"></pk-button-application-deactivate>
                </ng-container>

                <ng-container *accessEditApplications>
                    <pk-button-application-update [application]="application"></pk-button-application-update>
                    <pk-button-application-edit [application]="application"></pk-button-application-edit>
                </ng-container>

                <ng-container *accessEditApplications>
                    <pk-button-application-rescind [application]="application"></pk-button-application-rescind>
                </ng-container>

                <ng-container *accessSubmitApplications>
                    <pk-button-application-submit [application]="application"></pk-button-application-submit>
                </ng-container>

                <ng-container *accessValidateApplications>
                    <pk-button-application-validate [application]="application"></pk-button-application-validate>
                </ng-container>
            </pk-floating>
        </pk-list-element>
    </pk-list-content>
</pk-list>

<div class="pagination">
    <div class="pagination__previous">
        <pk-button
            *ngIf="page > 1"
            element--hover
            i18n-pkAlert
            pkAlert="Next Page"
            icon="keyboard_arrow_left"
            (onClick)="previousPage()">
        </pk-button>
    </div>
    <div class="pagination__pages">
        <div class="pagination__page" *ngIf="page > 1">
            <pk-button
                element--hover
                i18n-pkAlert
                pkAlert="Go to page"
                [value]="page - 1"
                (onClick)="previousPage()">
            </pk-button>
        </div>
        <div class="pagination__page">
            <pk-button
                element--primary element--light
                i18n-pkAlert
                pkAlert="Go to page"
                [value]="page"
                (onClick)="goToPage(page)">
            </pk-button>
        </div>
        <div class="pagination__page" *ngIf="hasNextPage">
            <pk-button
                element--hover
                i18n-pkAlert
                pkAlert="Go to page"
                [value]="page + 1"
                (onClick)="nextPage()">
            </pk-button>
        </div>
    </div>
    <div class="pagination__next">
        <pk-button
            *ngIf="hasNextPage"
            element--hover
            i18n-pkAlert
            pkAlert="Next Page"
            icon="keyboard_arrow_right"
            (onClick)="nextPage()">
        </pk-button>
    </div>
</div>

