@import './../../../config.scss';

.pk-form-after {
    .rel {
        @include clearfix();
        margin: 0 -5px;
    }
    .left {
        margin: 0 5px;
        float: left;
        display: block;
    }
}

.form {
    display: block;
    margin: 9px;
}

#form-edit {
    .form {
        padding: $element-grid-base;
        border: 1px solid $guidance-color;
        border-radius: $border-radius;

        /deep/ {
            .form__element {
                cursor: move;
                &:hover {
                    background-color: $element-hover-edit;
                }
            }
        }
    }
}
