@import './../../../config';
@import './../../../theme/typescale';
@import './../../../theme/components/element';

.pk-form-after {
    .rel {
        @include clearfix();
        margin: 0 -5px;
    }
    .left {
        margin: 0 5px;
        float: left;
        display: block;
    }
}

.form {
    display: block;
    margin: 9px;
}

#form-edit {
    .form {
        @extend .element-wrapper;
        /deep/ {
            .form__element {
                &:hover {
                    background-color: rgba($guidance-color, 0.2);

                    .button.button--edit {
                        display: block;
                    }
                }
            }
        }
    }
}
