<div id="form-edit" class="rel" *ngIf="form && !addingElement">
    <h2 class="element element--spacing-bottom-small">Edit Form: {{ form.title }}</h2>



    <div class="form" *ngIf="!form.elements || form.elements.length < 1">
        No Elements in this form.
    </div>

    <pk-form
        *ngIf="form && form.elements && form.elements.length > 0"
        [formElements]="form.elements"
        [editableElement]="true"
        (onEdit)="editElement($event)"
        (onRemove)="removeElement($event)"
        [hasSubmit]="false"
        [hasCancel]="false"
        ></pk-form>

    <div class="floating floating--top-right floating--fixed">
        <pk-button class="element--spacing-bottom-small element--rounded" [icon]="'edit'" element--secondary (onClick)="editFormAttributes()"></pk-button>
        <pk-button class="element--spacing-bottom-small element--rounded" [icon]="'add'" element--secondary (onClick)="addElement()"></pk-button>
        <pk-button class="element--spacing-bottom-small element--rounded" [icon]="'save'" (onClick)="saveForm()" element--success></pk-button>
    </div>
</div>

<pk-overlay [isOpen]="isEditingForm" (toggleOverlay)="toggleFormEditing()" class="overlay--fluid">
    <div class="pk-overlay__header">Edit Form Attributes</div>
    <div class="pk-overlay__content">
        <pk-form
            *ngIf="editForm"
            [formElements]="editForm"
            [hasCancel]="false"
            [hasSubmit]="true"
            (onSubmit)="saveFormAttributes($event)"
            ></pk-form>
    </div>
</pk-overlay>


<pk-element-edit *ngIf="addingElement"></pk-element-edit>
