<div id="form-edit" class="rel" *ngIf="form && !addingElement">
    <h2 class="element element--spacing-bottom-small">Edit Form: {{ form.title }}</h2>



    <div class="form" *ngIf="!form.elements || form.elements.length < 1">
        No Elements in this form.
    </div>

    <pk-dynamic-form *ngIf="form && form.elements && form.elements.length > 0" [formElements]="form.elements" #dynamicForm>
        <pk-dynamic-form-content>

            <pk-dynamic-form-element *ngFor="let element of form.elements, let i = index" [element]="element">
                <pk-floating bottom-right-corner horizontal>
                    <pk-button rounded [pkAlert]="'Edit Form Element'" class="button button--edit element" [icon]="'create'" (onClick)="editElement(element)" element--secondary></pk-button>
                    <pk-button rounded [pkAlert]="'Remove Form Element'" class="button button--edit element" [icon]="'clear'" (onClick)="removeElement(element, i)" element--error></pk-button>
                </pk-floating>
            </pk-dynamic-form-element>

        </pk-dynamic-form-content>

    </pk-dynamic-form>

    <pk-floating top-right fixed>
        <pk-button rounded [pkAlert]="'Edit Form Attributes'" class="element--spacing-bottom-small" [icon]="'edit'" rounded element--secondary (onClick)="editFormAttributes()"></pk-button>
        <pk-button rounded [pkAlert]="'Add Form Element'" class="element--spacing-bottom-small" [icon]="'add'" element--secondary (onClick)="addElement()"></pk-button>
        <pk-button rounded [pkAlert]="'Add Element Preset'" class="element--spacing-bottom-small" [icon]="'library_add'" element--secondary (onClick)="addPreset()"></pk-button>
        <pk-button rounded [pkAlert]="'Save Form'" class="element--spacing-bottom-small" [icon]="'save'" (onClick)="saveForm()" element--success></pk-button>
    </pk-floating>
</div>

<pk-overlay [isOpen]="isPresetOverlay" (toggleOverlay)="togglePresetOverlay()">
    <div class="pk-overlay__header">Add Element Preset</div>
    <div class="pk-overlay__content">
        <div class="overlay__option selectable" *ngFor="let option of presets" (click)="addPreset(option)">
                    {{ option.label }}
        </div>
    </div>
</pk-overlay>

<pk-overlay [isOpen]="isEditingForm" (toggleOverlay)="toggleFormEditing()" class="overlay--fluid">
    <div class="pk-overlay__header">Edit Form Attributes</div>
    <div class="pk-overlay__content">

        <pk-dynamic-form *ngIf="editForm" [formElements]="editForm" #dynamicForm>
            <pk-dynamic-form-content>

                <pk-dynamic-form-element *ngFor="let element of editForm" [element]="element"></pk-dynamic-form-element>

            </pk-dynamic-form-content>

            <pk-dynamic-form-submit>
                <pk-button
                    [value]="'Save'"
                    [icon]="'save'"
                    [class]="dynamicForm.form.valid ? 'element--success' : 'element--disabled'"
                    [type]="'submit'"
                    (onClick)="saveFormAttributes(dynamicForm.form.value)"></pk-button>
            </pk-dynamic-form-submit>

        </pk-dynamic-form>

    </div>
</pk-overlay>


<pk-element-edit *ngIf="addingElement"></pk-element-edit>
