<div class="navbar navbar--mobile">
  <h2>PK 4.0</h2>
  <div class="navbar__button">
    <pk-button icon="menu" class="right element--primary element--light" (onClick)="toggleNavbar()"></pk-button>
  </div>
</div>
<div class="navbar navbar--desktop" [class.navbar--open]="isOpen">
  <div class="navbar__header">
    <h2 class="left devider devider--mobile">PK 4.0</h2>
    <div class="navbar__button">
      <pk-button icon="clear" class="right element--primary element--light" (onClick)="toggleNavbar()"></pk-button>
    </div>
  </div>

  <a class="navbar__link selectable left" routerLink="/applications" routerLinkActive="selectable--active">Main</a>
  <a class="navbar__link selectable left" routerLink="/admin/roles" routerLinkActive="selectable--active">Roles</a>
  <a class="navbar__link selectable left" routerLink="/admin/permissions" routerLinkActive="selectable--active">Permissions</a>
  <a class="navbar__link selectable left" routerLink="/admin/users" routerLinkActive="selectable--active">Users</a>
  <a class="navbar__link selectable left" routerLink="/admin/profile" routerLinkActive="selectable--active">Profile</a>

  <pk-devider></pk-devider>

  <a class="navbar__link selectable right" (click)="logout()">Logout</a>
</div>
<div class="navbar__fallback" [class.navbar__fallback--open]="isOpen" (click)="toggleNavbar()"></div>
