
<div id="form-add-attribute">
    <div class="rel">
        <h2 class="element element--spacing-bottom-small" i18n>Create new Element</h2>

        <pk-dynamic-form [formElements]="element" #dynamicForm (onChange)="updateElement($event)">
            <pk-dynamic-form-content>

                <pk-dynamic-form-element *ngFor="let attribute of element" [element]="attribute" [form]="dynamicForm.form"></pk-dynamic-form-element>

            </pk-dynamic-form-content>

        </pk-dynamic-form>

    </div>

    <ng-container *ngIf="elementPreview.length > 0 && elementHasPreview">
        <pk-floating fixed bottom-left>
            <div class="preview">
                <h2 class="devider element element--spacing-bottom-small" i18n>Element Preview</h2>

                <pk-dynamic-form [formElements]="elementPreview" #dynamicForm>
                    <pk-dynamic-form-content>

                        <pk-dynamic-form-element *ngFor="let element of elementPreview" [element]="element" [form]="dynamicForm.form"></pk-dynamic-form-element>

                    </pk-dynamic-form-content>

                </pk-dynamic-form>

            </div>
        </pk-floating>
    </ng-container>

    <pk-floating fixed top-right>
        <pk-button rounded
            i18n-pkAlert pkAlert="Cancel Element"
            class="element--spacing-bottom-tiny" icon="clear" (onClick)="cancelElement()" element--error>
        </pk-button>

        <ng-container *ngIf="elementPreview.length > 0 && dynamicForm.form.valid">
            <pk-button-animation-wrapper>
                <pk-button
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Save Element"
                    rounded icon="save" (onClick)="saveElement(dynamicForm.form.value)" element--success>
                </pk-button>
                <pk-button
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Save & Add Element"
                    rounded icon="add" (onClick)="copyElement(dynamicForm.form.value, 'add')" element--success>
                </pk-button>
                <pk-button
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Save & Copy Element"
                    rounded icon="content_copy" (onClick)="copyElement(dynamicForm.form.value, 'clone')" element--success>
                </pk-button>

                <pk-button *ngIf="!elementHasStyles"
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Add Styling"
                    rounded icon="color_lens" (onClick)="addStyles()" element--secondary>
                </pk-button>
                <pk-button *ngIf="!elementHasValidations"
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Add Validations"
                    rounded icon="security" (onClick)="addValidations()" element--secondary>
                </pk-button>
                <pk-button
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Toggle Preview"
                    rounded class="element--spacing-bottom-tiny" icon="visibility" (onClick)="toggleElementPreview()" element--secondary>
                </pk-button>

                <pk-button rounded
                    class="element--spacing-bottom-tiny"
                    i18n-pkAlert pkAlert="Delete Element (if possible)"
                    icon="delete" (onClick)="removeElement()" element--error>
                </pk-button>

            </pk-button-animation-wrapper>
        </ng-container>
    </pk-floating>
</div>
