<div class="filter">
    <div class="filter__trigger">
        <pk-button
            element--hover
            i18n-pkAlert
            pkAlert="Filter list"
            icon="filter_list">
        </pk-button>
    </div>

    <div class="filter__list">
        <div class="filter__title" i18n>Filter</div>
        <div class="filter__group">
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="!filter.length"
                    (click)="filterList()" i18n>All</div>
            </div>
        </div>
        <div class="filter__group">
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.CREATED) !== -1 && filter.indexOf(status.SUBMITTED) !== -1 && filter.indexOf(status.PENDING) !== -1"
                    (click)="filterList(status.CREATED, status.SUBMITTED, status.PENDING)" i18n>Active</div>
            </div>
        </div>
        <div class="filter__group">
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.DEACTIVATED) !== -1"
                    (click)="filterList(status.DEACTIVATED)" i18n>Deactivated</div>
            </div>
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.CREATED) !== -1"
                    (click)="filterList(status.CREATED)" i18n>Created</div>
            </div>
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.SUBMITTED) !== -1"
                    (click)="filterList(status.SUBMITTED)" i18n>Submitted</div>
            </div>
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.PENDING) !== -1"
                    (click)="filterList(status.PENDING)" i18n>Pending</div>
            </div>
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.ACCEPTED) !== -1"
                    (click)="filterList(status.ACCEPTED)" i18n>Accepted</div>
            </div>
            <div class="filter__item">
                <div
                    class="selectable"
                    [class.selectable--active]="filter.indexOf(status.DENIED) !== -1"
                    (click)="filterList(status.DENIED)" i18n>Denied</div>
            </div>
        </div>
    </div>
</div>
