@import '../../../config.scss';

.filter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 2px;

    &:hover {
        background: $mediumwhite;
        border-color: $darkwhite;
        .filter__list {
            display: block;
        }
    }

    &__trigger {
        float: right;
        margin-bottom: 4px;
    }

    &__list {
        display: none;
    }

    &__item {
        padding-top: 4px;

        &:first-child {
            border-bottom: 1px solid $darkwhite;
            padding-top: 0;
        }
    }
}
