<div
    *ngIf="config"
    class="element__wrapper"
    [class.element__invalid]="config.formControl.errors"
    >

    <label
        class="element__label"
        [class.element--required]="config.required"
        *ngIf="config.label">
        {{ config.label }}
    </label>

    <!-- All selected Elements when multiselect -->
    <div class="element__select element__options" *ngIf="config.multiple && config.formControl.value && config.formControl.value.length !== 0"
        [class.element--disabled]="config.disabled">

        <div *ngIf="!config.disabled" class="element__option" (click)="toggleSelectOverlay()">
            <div class="element__value">{{ config.placeholder ? config.placeholder : 'Bitte wählen' }}</div>
            <i class="element__icon material-icons md-18" aria-hidden="true">keyboard_arrow_down</i>
        </div>

        <div *ngFor="let option of config.options">
            <div *ngIf="!config.disabled && config.formControl.value.indexOf(option.value) !== -1" class="element__option" (click)="removeOption(option)">
                <div class="element__value">{{ option.label }}</div>
                <i class="element__icon material-icons md-18" aria-hidden="true">clear</i>
            </div>
            <div *ngIf="config.disabled && config.formControl.value.indexOf(option.value) !== -1" class="element__option">
                <div class="element__value">{{ option.label }}</div>
            </div>
        </div>


        <select *ngIf="!config.disabled" class="hidden" multiple [attr.id]="config.name" [formControl]="config.formControl">
            <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>

    <!-- Default Element if nothing is selected -->
    <div class="element__select element__options" *ngIf="!config.formControl.value || (config.formControl.value && config.formControl.value.length === 0)"
        [class.element--disabled]="config.disabled">
        <div *ngIf="!config.disabled" class="element__option" (click)="toggleSelectOverlay()">
            <div class="element__value">{{ config.placeholder ? config.placeholder : 'Bitte wählen' }}</div>
            <i class="element__icon material-icons md-18" aria-hidden="true">keyboard_arrow_down</i>
        </div>
        <div *ngIf="config.disabled" class="element__option">
            <div class="element__value">{{ 'No Option Selected' }}</div>
        </div>
    </div>

    <!-- Selected Element if not multiselect -->
    <div class="element__select element__options" *ngIf="!config.multiple && config.formControl.value"
        [class.element--disabled]="config.disabled">

        <div *ngFor="let option of config.options" class="clearfix">
            <div *ngIf="!config.disabled && config.formControl.value.indexOf(option.value) !== -1" class="element__option" (click)="toggleSelectOverlay()">
                <div class="element__value">{{ option.label }}</div>
                <i class="element__icon material-icons md-18" aria-hidden="true">keyboard_arrow_down</i>
            </div>
            <div *ngIf="config.disabled && config.formControl.value.indexOf(option.value) !== -1" class="element__option">
                <div class="element__value">{{ option.label }}</div>
            </div>
        </div>


        <select *ngIf="!config.disabled" class="hidden" [attr.id]="config.name" [formControl]="config.formControl">
            <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>

    <pk-overlay [isOpen]="isOpen" (toggleOverlay)="toggleSelectOverlay()" *ngIf="!config.disabled">
        <div class="pk-overlay__header">{{ config.label }}</div>
        <div class="pk-overlay__content">
            <div class="overlay__option selectable" *ngFor="let option of config.options" (click)="select(option)" [class.selectable--active]="config.formControl.value && config.formControl.value.indexOf(option.value) !== -1">
                    {{ option.label }}
            </div>
        </div>
    </pk-overlay>

</div>
