<div id="applications">
    <div class="rel">
        <pk-loading *ngIf="!(applications || ownApplications || assignedApplications)"></pk-loading>

        <ng-container *ngIf="applications || ownApplications || assignedApplications">

            <h1 class="element element--spacing-bottom-small" i18n>Applications</h1>

            <ng-container *ngIf="ownApplications">

                <ng-container *ngIf="!ownApplications.length">
                    <div class="empty-wrapper">
                        <div class="label" i18n>No own Applications here.</div>
                        <pk-button
                            class="element--spacing-top-large"
                            element--secondary
                            i18n-value
                            value="Create Application"
                            icon="add"
                            (onClick)="createApplicationModal()">
                        </pk-button>
                    </div>
                </ng-container>

                <ng-container *ngIf="ownApplications.length">
                    <h3 i18n>Own applications</h3>
                    <pk-applications-list [applications]="ownApplications" [user]="user"></pk-applications-list>

                    <pk-floating fixed top-right>
                        <pk-button
                            *accessCreateApplications
                            element--secondary
                            rounded
                            i18n-pkAlert
                                pkAlert="Create Application"
                            icon="add"
                            (onClick)="createApplicationModal()">
                        </pk-button>
                    </pk-floating>
                </ng-container>

            </ng-container>

            <ng-container *ngIf="assignedApplications">
                <ng-container *ngIf="assignedApplications.length">
                    <h3 i18n>Assigned applications</h3>
                    <pk-applications-list [applications]="assignedApplications" [user]="user"></pk-applications-list>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="applications">
                <ng-container *ngIf="applications.length">
                    <h3 i18n>All applications</h3>
                    <pk-applications-list [applications]="applications" [user]="user"></pk-applications-list>
                </ng-container>
            </ng-container>

        </ng-container>

    </div>
</div>
