<div id="applications" class="content--default">
    <div class="rel">
        <h1 class="devider devider--primary element element--spacing-bottom-small">Applications</h1>

        <div class="list">
            <div class="list-element" *ngFor="let application of applications">
                <div class="list-element__state" routerLink="/applications/{{ application.id }}">{{ application.state.name }}</div>
                <a class="list-element__name" routerLink="/applications/{{ application.id }}">{{ application.form.title }}</a>
                <div class="list-element__date" routerLink="/applications/{{ application.id }}">{{ application.created }}</div>

                <a class="floating floating--top-right " routerLink="/applications/{{ application.id }}/edit">
                    <pk-button class="element--rounded" [icon]="'create'" element--secondary></pk-button>
                </a>
            </div>
        </div>
    </div>
    <div class="floating floating--fixed floating--top-right">
        <pk-button class="element--rounded" [icon]="'add'" element--secondary></pk-button>
    </div>
</div>
