<div id="profile" class="content--default">
    <div class="rel">
        <h1 class="devider devider--primary element element--spacing-bottom-small">Profile</h1>
        <div class="element element--spacing-bottom-small">
            <div class="element__wrapper">
                <div class="element__label">Firstname</div>
                <div class="element__input element--no-edit">Patrick</div>
            </div>
        </div>
        <div class="element element--spacing-bottom-small">
            <div class="element__wrapper">
                <div class="element__label">Lastname</div>
                <div class="element__input element--no-edit">Schröter</div>
            </div>
        </div>

        <pk-devider class="element element--spacing-bottom-small"></pk-devider>

        <div class="element element--spacing-bottom-small">
            <div class="element__wrapper">
                <div class="element__label">E-Mail</div>
                <div class="element__input element--no-edit">patrick.schroeter@hs-augsburg</div>
            </div>
        </div>
        <div class="element element--spacing-bottom-small">
            <div class="element__wrapper">
                <div class="element__label">Matrikelnummer</div>
                <div class="element__input element--no-edit">949225</div>
            </div>
        </div>

    </div>
    <div class="floating floating--fixed floating--top-right">
        <a  routerLink="/profile/edit">
            <pk-button class="element--rounded element--spacing-bottom-small" [icon]="'create'" element--secondary></pk-button>
        </a>
        <pk-button class="element--rounded" [icon]="'security'" element--secondary (onClick)="togglePasswordOverlay()"></pk-button>
    </div>
</div>

<pk-overlay [isOpen]="isChangingPassword" (toggleOverlay)="togglePasswordOverlay()">
    <div class="pk-overlay__header">Change Password</div>
    <div class="pk-overlay__content">
        <div class="form__wrapper">
            <form [formGroup]="changePasswordForm"
                (ngSubmit)="submit(form.value)"
                [class.element--show-validation]="isFormValidationVisible">

                <div class="form__elements">
                    <div class="rel" *ngFor="let element of changePasswordElements">
                        <div class="form__element element"
                            *ngIf="!element.hidden"
                            [ngClass]="{ 'form__element--small': element.styles && element.styles.indexOf('small') !== -1, 'form__element--aligned': element.styles && element.styles.indexOf('aligned') !== -1}"
                            (mouseover)="showElementValidation(element)"
                            (mouseout)="hideElementValidation()"
                            >

                            <div class="rel">
                                <pk-input
                                ngDefaultControl
                                [config]="element"
                                ></pk-input>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form__buttons left">
                    <div class="right"
                        (mouseover)="showFormValidation(changePasswordForm)"
                        (mouseout)="hideFormValidation()">
                        <pk-button
                            [value]="'OK'"
                            [icon]="'chevron_right'"
                            [class]="changePasswordForm.valid ? 'element--success' : 'element--disabled'"
                            [type]="'submit'"></pk-button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</pk-overlay>
