@import './../../../theme';

.element__label {
    span {
        position: relative;
        top: $element-grid-base/8;
    }

    &:not(.element--disabled) {
        cursor: pointer;
        &:hover {

            .element__checkbox {
                background: $toggl-background-hover;
                border-color: $accent-color;

                &.element--active {
                    background: $toggl-background-active-hover;
                }
            }
        }
    }
}

.element__checkbox {
    border: $border-width solid $element-border;
    background: $element-background;

    &.element--active {
        background: $accent-color;
        border-color: $accent-color;
    }

    &.element--disabled {
        border-color: transparent;
        border-bottom-color: $element-border;
        &.element--active {
            background: $element-border;
            border-color: transparent;
        }
    }
}

.element__checkbox {
    display: inline-block;
    width: $element-grid-base/2;
    height: $element-grid-base/2;
    border-radius: $border-radius;

    position: relative;
    top: $element-grid-base/4;

    + span {
        padding-left: $element-grid-base/4;
    }
}
