@import './../../../theme';

.element__label {
    cursor: pointer;
    span {
        position: relative;
        top: $element-grid-base/8;
    }

    &:hover {

        .element__checkbox {
            background: lighten($accent-color, 30%);

            &.element--active {
                background: lighten($accent-color, 15%);
            }
        }
    }
}

.element__checkbox {
    border: $border-width solid $accent-color;

    &.element--active {
        background: $accent-color;
    }
}

.element__checkbox {
    display: inline-block;
    width: $element-grid-base/2;
    height: $element-grid-base/2;
    border-radius: $border-radius;

    position: relative;
    top: $element-grid-base/4;
}
