.block {
    position: relative;

    padding-bottom: 2rem;
    margin-top: 3rem;

    border-bottom: 1px solid lighten($lightgray, 25%);
    &:last-child {
        border-bottom: 0;
        padding: 0;
    }


    // > * {
    //     position: relative;
    //     display: block;
    //     z-index: 9;
    // }

    // &:before {
    //     content: '';
    //     display: block;
    //     height: 100%;
    //     width: 100px;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 100vw;
    //     transform: translate(-50%, -50%);
    //     z-index: 8;
    // }
    // @for $i from 1 through 8 {

    //     &:nth-child(#{$i}) {
    //         @if ($i % 2 == 0) {
    //             &:before {
    //                 background-color: lighten($mediumwhite, 3%);
    //             }
    //         } @else {
    //             &:before {
    //                 background-color: lighten($mediumwhite, 1%);
    //             }
    //         }
    //     }
    // }
}
