/**
*   The Element (almost all)
*/

.element {
    display: block;
    margin: 0;
    &.element--spacing-top-large {
        margin-top: $element-grid-base;
    }
    &.element--spacing-top-small {
        margin-top: $element-grid-base/2;
    }
    &.element--spacing-top-tiny {
        margin-top: $element-grid-base/4;
    }
    &.element--spacing-bottom-large {
        margin-bottom: $element-grid-base;
    }
    &.element--spacing-bottom-small {
        margin-bottom: $element-grid-base/2;
    }
    &.element--spacing-bottom-tiny {
        margin-bottom: $element-grid-base/4;
    }

    &.element--spacing-left-large {
        margin-left: $element-grid-base;
    }
    &.element--spacing-left-small {
        margin-left: $element-grid-base/2;
    }
    &.element--spacing-left-tiny {
        margin-left: $element-grid-base/4;
    }

    &.element--inner-bottom-small {
        padding-bottom: $element-grid-base/2;
    }

    &.element--inline {
        display: inline-block;
    }
}

.element__wrapper, .form__wrapper {
    @include clearfix();
    position: relative;
}

.element__input {
    &.element--disabled {
        overflow-x: auto;
        overflow-y: hidden;
    }
}
.element__textarea {
    &.element--disabled {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.element__input, .element__textarea {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;

    &.element--disabled {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-color: transparent;
    }
}

.element__textarea, .element__input, .element__option {
    color: $input-color;
    border-radius: $border-radius;
    border: $border-width solid $element-border;
    background-color: $element-background;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 8px;
    @extend .font_small;
    display: block;

    &.option--default {
        color: $option-color-default;
    }
}

.element__options.element--disabled .element__option {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: transparent;
    overflow-x: auto;
    overflow-y: hidden;
}

.element__input, .element__option {
    line-height: calc(#{$element-grid-base} - #{$border-width});
    font-weight: 400;
    height: $element-grid-base;
}

.element__textarea {
    height: 2*$element-grid-base;
    padding: 8px;
}

.element__options {
    .element__option {
        @include clearfix();

        float: left;
        width: 98%;

        position: relative;
        padding-right: $element-grid-base;

        .element__value {
            float: left;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            top: -2px;
        }

        .element__icon {
            position: absolute;
            top: 3px;
            right: 4px;

            &.md-20 {
                top: 5px;
                right: 6px;
            }
        }
    }
    &:not(.element--disabled) {
        .element__option {
            cursor: pointer;
        }
    }
}

.element__select {
    margin: 0 -1%;
    max-height: 10rem;
    overflow-y: auto;
    .element__option {
        margin: 1%;
        margin-top: 0;
    }
}

.element--h1, .element--h2, .element--h3, .element--h4 {
    line-height: $element-grid-base;
}

.element--show-validation {
    .element__invalid {
        .element__input, .element__checkbox, .element__radio, .element__textarea, .element__option {
            border-color: $element-border-invalid
        }
    }
}
.element__input, .element__checkbox, .element__radio, .element__textarea, .element__options:not(.element--disabled) .element__option {
    &:hover:not(.element--disabled) {
        border-color: $element-border-hover;
    }
}
