
.form__elements {
    @include clearfix();
    margin: 0 -$element-grid-base/2;
}

.form__element {
    padding: $element-grid-base/2;
    /*margin-bottom: 10px;*/
    float: left;
    width: 100%;
    position: relative;
}

@media (min-width: $form-mobile-break + 1) {
    .form__element {
        &.form__element--small {
            width: 50%;
        }
        &.form__element--aligned {
            padding-top: $element-grid-base * 1.5;
        }
    }
}
@media (max-width: $form-mobile-break) {

}

.form__buttons {
    @include clearfix();
    margin-top: $element-grid-base;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

.button.button--edit {
    display: none;
}
