.hint {
    display: none;
    position: fixed;
    max-width: 100%;
    z-index: 999;

    &.hint--top-right {
        right: 0;
        top: 0;
        bottom: auto;
        padding: 90px 40px 0 0;
    }
    &.hint--top-left {
        right: auto;
        top: 0;
        left: 0;
        bottom: auto;
        padding: 90px 0 0 40px;
    }
    &.hint--bottom-right {
        right: 0;
        bottom: 0;
        padding: 0 40px 40px 0;

        @media (min-width: 1440px) {
            left: 50%;
            margin-left: 552px;
        }
    }

    &.hint--visible {
        display: block;
    }

    .hint-element {
        @extend .font_smallest;
        padding: 5px;
        margin-top: 3px;
        border-radius: $border-radius;
        border: $border-width solid $mediumwhite;
        background-color: $white;
        color: $darkgray;
        // min-width: 240px;

        display: none;

        position: relative;

        &:first-child {
            display: block;
        }
        &.hint-element--visible {
            display: block;
        }

        &.hint--invalid {
            border: $border-width solid lighten($error, 0%);
            background-color: lighten($error, 0%);
            color: $white;
        }
        &.hint--success {
            border: $border-width solid $success;
            background-color: lighten($success, 5%);
            color: $white;
        }
        &.hint--error {
            border: $border-width solid lighten($error, 0%);
            background-color: lighten($error, 0%);
            color: $white;
        }
        &.hint--tooltip {
            border: $border-width solid lighten($guidance-color, 5%);
            background-color: lighten($guidance-color, 5%);
            color: $white;
        }

        &.hint--rotating-icon, &.hint--tooltip {
            padding-left: 28px;
            i {
                position: absolute;
                top: 5px;
                left: 2px;
            }
        }
        &.hint--rotating-icon {
            i {
                @extend .rotating;
            }
        }
    }
}
