.hint {
    display: none;
    position: fixed;
    max-width: 100%;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding: 0 40px 40px 0;

    &.hint--visible {
        display: block;
    }

    .hint-element {
        @extend .font_smallest;
        padding: 5px;
        margin-top: 3px;
        border: $border-width solid $success;
        border-radius: $border-radius;
        background-color: lighten($success, 5%);
        color: $white;

        display: none;

        &:first-child {
            display: block;
        }

        &.hint--invalid {
            border: $border-width solid lighten($error, 0%);
            background-color: lighten($error, 0%);
            color: $white;
        }
    }
}
