.overlay {
    .overlay__container {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 199;

        &.overlay--open {
            display: block;
        }
    }

    .overlay__fallback {
        background-color: $black;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
    }

    &:not(.overlay--fluid) {
        .overlay__wrapper {
            height: 60%;
        }
    }

    &.overlay--error {
        .overlay__wrapper {
            background-color: lighten($error, 5%);
            color: $white;
        }
    }

    &.overlay--warning {
        .overlay__wrapper {
            background-color: lighten($guidance-color, 5%);
            color: $white;
        }
    }

    .overlay__wrapper {
        @include center();
        border-radius: $border-radius;
        padding-top: 55px;
        background: $mediumwhite;
        position: relative;
        z-index: 6;
        width: 80%;
        max-width: 500px;

        .overlay__scroll-content {
            padding: 45px;
            background: $white;
            color: $darkgray;
        }

        .overlay__label {
            position: absolute;
            top: 17px;
            left: 0;
            width: 100%;
            padding-left: 45px;
            padding-right: 45px;
            z-index: 2;
            font-weight: 700;
        }
    }

    .overlay__option {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .empty-wrapper {
        margin: 1rem;
    }
}
