@import './../../config.scss';

/**
*   Floating Elements
*/
.floating {
    position: absolute;
    z-index: 3;

    &.floating--fixed {
        position: fixed;
        z-index: 100;

        // floating right
        &.floating--top-right {
            top: 90px;
            right: 40px;
        }
        &.floating--bottom-right {
            bottom: 40px;
            right: 40px;
        }
        &.floating--bottom-right, &.floating--top-right {
            @media (min-width: 1258px) {
                left: 50%;
                margin-left: 552px;
            }
            @media (max-width: 700px) {
                right: 20px;
            }
        }

        // floating left
        &.floating--top-left {
            top: 90px;
            left: 40px;
        }
        &.floating--bottom-left {
            bottom: 40px;
            left: 40px;
        }
        &.floating--bottom-left, &.floating--top-left {
            @media (max-width: 700px) {
                left: 20px;
            }
        }

        // floating top
        &.floating--top-left, &.floating--top-right {
            @media (max-width: 700px) {
                top: 70px;
            }
        }

        // floating bottom
        &.floating--bottom-left, &.floating--bottom-right {
            @media (max-width: 700px) {
                bottom: 20px;
            }
        }
    }

    // floating right
    &.floating--top-right {
        top: 6px;
        right: 1rem;
    }
    &.floating--bottom-right {
        bottom: 6px;
        right: 1rem;
    }

    // floating left
    &.floating--bottom-left {
        bottom: 6px;
        left: 1rem;
    }

    // floating corner bottom
    &.floating--bottom-right-corner {
        bottom: -10px;
        right: -10px;
    }
    &.floating--bottom-left-corner {
        bottom: -10px;
        left: -10px;
    }

    &.floating--horizontal {
        & > * {
            float: right;
            margin-left: $element-grid-base/4;
        }
    }
}
