<div
    *ngIf="config"
    class="element__wrapper"
    [class.element__invalid]="formControl.errors"
    >

    <label
        class="element__label"
        [class.element--required]="config.required"
        *ngIf="config.label">
        {{ config.label }}
    </label>

    <!-- All selected Elements when multiselect -->
    <div class="element__select element__options" *ngIf="config.multipleSelect && formControl.value && formControl.value.length !== 0"
        [class.element--disabled]="isDisabled()">

        <div *ngIf="!isDisabled()" class="element__option option--default" (click)="overlay.toggle()">
            <div class="element__value" *ngIf="config.placeholder">{{ config.placeholder }}</div>
            <div class="element__value" *ngIf="!config.placeholder" i18n>Choose</div>
            <i class="element__icon material-icons md-24" aria-hidden="true">expand_more</i>
        </div>

        <div *ngFor="let option of config.options">
            <div *ngIf="config.multipleSelect && formControl.value.indexOf(option.value) !== -1">
                <div *ngIf="!isDisabled()" class="element__option" (click)="removeOption(option)">
                    <div class="element__value">{{ option.label }}</div>
                    <i class="element__icon material-icons md-20" aria-hidden="true">close</i>
                </div>
                <div *ngIf="isDisabled()" class="element__option">
                    <div class="element__value">{{ option.label }}</div>
                </div>
            </div>
        </div>


        <select *ngIf="!isDisabled()" class="hidden" multiple [attr.id]="config.name" [formControl]="formControl">
            <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>

    <!-- Default Element if nothing is selected -->
    <div class="element__select element__options" *ngIf="!formControl.value || formControl.value?.length === 0"
        [class.element--disabled]="isDisabled()">
        <div *ngIf="!isDisabled()" class="element__option option--default" (click)="overlay.toggle()">
            <div class="element__value" *ngIf="config.placeholder">{{ config.placeholder }}</div>
            <div class="element__value" *ngIf="!config.placeholder" i18n>Choose</div>
            <i class="element__icon material-icons md-24" aria-hidden="true">expand_more</i>
        </div>
        <div *ngIf="isDisabled()" class="element__option">
            <div class="element__value">{{ 'No Option Selected' }}</div>
        </div>
    </div>

    <!-- Selected Element if not multiselect -->
    <div class="element__select element__options" *ngIf="!config.multipleSelect && formControl.value"
        [class.element--disabled]="isDisabled()">

        <div *ngFor="let option of config.options" class="clearfix">
            <div *ngIf="formControl.value === option.value">
                <div *ngIf="!isDisabled()" class="element__option" (click)="overlay.toggle()">
                    <div class="element__value">{{ option.label }}</div>
                    <i class="element__icon material-icons md-24" aria-hidden="true">expand_more</i>
                </div>
                <div *ngIf="isDisabled()" class="element__option">
                    <div class="element__value">{{ option.label }}</div>
                </div>
            </div>
        </div>


        <select *ngIf="!isDisabled()" class="hidden" [attr.id]="config.name" [formControl]="formControl">
            <option *ngFor="let option of config.options" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>

    <pk-overlay #overlay *ngIf="!isDisabled()">
        <pk-overlay-header>{{ config.label }}</pk-overlay-header>
        <pk-overlay-content *ngIf="overlay.isOpen">

            <div *ngIf="config.options?.length > 5" class="overlay__option element">
                <input
                    class="element__input"
                    id="search-field"
                    placeholder="Search"
                    [ngModel]="searchstring"
                    (ngModelChange)="filterOptions($event)"
                    >
            </div>
            <div class="overlay__option selectable" *ngFor="let option of (filteredOptions ? filteredOptions : config.options)" (click)="select(option)" [class.selectable--active]="formControl.value && ((config.multipleSelect && formControl.value.indexOf(option.value) !== -1) || (!config.multipleSelect && formControl.value === option.value))" id="option-{{ option.value }}"
                >{{ option.label }}</div>

        </pk-overlay-content>
    </pk-overlay>

</div>
