<div id="forms">
    <div class="rel">
        <pk-loading *ngIf="!forms"></pk-loading>

        <ng-container *ngIf="forms">

            <ng-container *ngIf="!forms.length">
                <div class="empty-wrapper">
                    <div class="label" i18n>No Forms here.</div>
                    <pk-button icon="add" element--secondary (onClick)="overlay.toggle()" i18n-value value="Create New Form" class="element--spacing-top-large"></pk-button>
                </div>
            </ng-container>

            <ng-container *ngIf="forms.length">
                <h1 class="element element--spacing-bottom-small" i18n>Forms</h1>

                <pk-list>
                    <pk-list-header>
                        <pk-list-attribute i18n>Status</pk-list-attribute>
                        <pk-list-attribute i18n>Restriction</pk-list-attribute>
                        <pk-list-attribute name="primary" i18n>Title</pk-list-attribute>
                        <pk-list-attribute i18n>Created</pk-list-attribute>
                        <pk-list-attribute i18n>Validation</pk-list-attribute>
                    </pk-list-header>
                    <pk-list-content>
                        <pk-list-element *ngFor="let form of forms" [name]="form.isActive ? 'active' : 'inactive'">
                            <pk-list-attribute>
                                <ng-container i18n *ngIf="form.isActive">Active</ng-container>
                                <ng-container i18n *ngIf="!form.isActive">Inactive</ng-container>
                            </pk-list-attribute>

                            <pk-list-attribute>
                                <ng-container i18n *ngIf="form.restrictedAccess">Restricted</ng-container>
                                <ng-container i18n *ngIf="!form.restrictedAccess">Public</ng-container>
                            </pk-list-attribute>

                            <pk-list-attribute name="primary">
                                <a routerLink="/forms/{{ form.id }}/edit">{{ form.title }}</a>
                            </pk-list-attribute>

                            <pk-list-attribute>{{ form.created | date }}</pk-list-attribute>

                            <pk-list-attribute>{{ form.version }}</pk-list-attribute>

                            <pk-list-attribute>
                                <ng-container *ngIf="form.requiresValidation">Required</ng-container>
                                <ng-container *ngIf="!form.requiresValidation">Optional</ng-container>
                            </pk-list-attribute>

                            <pk-floating top-right horizontal>
                                <pk-button
                                    rounded
                                    element--error
                                    i18n-pkAlert
                                        pkAlert="Delete Form"
                                    icon="delete"
                                    (onClick)="deleteForm(form)">
                                </pk-button>
                                <a routerLink="/forms/{{ form.id }}/edit">
                                    <pk-button
                                        rounded
                                        i18n-pkAlert
                                        pkAlert="Edit Form"
                                        icon="create"
                                        element--secondary>
                                    </pk-button>
                                </a>
                                <pk-button
                                    rounded
                                    i18n-pkAlert
                                    pkAlert="Duplicate Form"
                                    icon="content_copy"
                                    (onClick)="createNewForm(form)"
                                    element--secondary>
                                </pk-button>
                            </pk-floating>
                        </pk-list-element>
                    </pk-list-content>
                </pk-list>

                <pk-floating fixed top-right>
                    <pk-button
                        rounded
                        i18n-pkAlert
                        pkAlert="Create New Form"
                        class="element--spacing-bottom-tiny"
                        icon="add"
                        element--secondary
                        (onClick)="overlay.toggle()">
                    </pk-button>
                </pk-floating>

            </ng-container>

        </ng-container>
    </div>
</div>

<pk-overlay #overlay>
    <pk-overlay-header i18n>Create New Form</pk-overlay-header>
    <pk-overlay-content>

        <pk-dynamic-form [formElements]="newForm" #dynamicForm>
            <pk-dynamic-form-content>

                <pk-dynamic-form-element *ngFor="let element of newForm" [element]="element" [form]="dynamicForm.form"></pk-dynamic-form-element>

            </pk-dynamic-form-content>

            <pk-dynamic-form-submit>
                <pk-button
                    *ngIf="dynamicForm?.form"
                    i18n-value value="Create"
                    icon="note_add"
                    [class]="dynamicForm.form.valid ? 'element--success' : 'element--disabled'"
                    [type]="'submit'"
                    (onClick)="createNewForm(dynamicForm.form.value)"></pk-button>
            </pk-dynamic-form-submit>

        </pk-dynamic-form>

    </pk-overlay-content>
</pk-overlay>
